*{
    margin: 0;bottom: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: rgb(8, 107, 69);
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    gap: 1rem;
}

/* game image section */
.choices{
    width: 50%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.choice img{
border-radius: 50%;
}
.choice img:hover{
    border: 3px solid rgb(29, 29, 29);
}

/* score section */


.score{
    width: 50%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.score p{
font-size: 1.5rem;
}
.try-btn{
    width: 50%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.try-btn button{
    padding: 15px 20px;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: 1rem;
    background-color: rgb(8, 107, 69);
}
